body {
    margin: auto;
    min-height: vh100;
    display: flex;
    flex-direction: column;
    background-color: #dde5db;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%2398ac92' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}
main, nav {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}
header, footer {
    background-color: darkolivegreen; 
    color: white; 
    padding: 40px; 
    border-bottom: 3px solid darkgray;
}
nav {display: flex;
justify-content: center;}
.logo {margin-right: auto;}
.link {margin: 0 4px;}
.logo, .link {
    color: white;
    text-decoration: none; 
    font-weight: bold; 
    text-transform: uppercase; 
    font-family: sans-serif;
    background-color: rgb(64, 5, 5);
    padding: 10px 10px;
    border-radius: 5px;
}
h2 {
    font-family: monospace;
}
.headshot {
    float: left;
    padding: 0 20px 20px 0;
}
footer {
  text-align: center;
  margin-top: auto;
}

main {
    padding: 20px; 
    background-color: white;
}
.container {display: flex;}
padding: 20px; 
background-color: white;}
p {
    margin: 15px 0;
}
main p {
    line-height: 120%;
}
.main-content {
    margin: 20px auto;
}
aside {margin: 0 20px;
    padding: 10px;
    max-height: 80px;
    background-color: white;}
